{% extends "base.html" %}
	{% block content %}
	<main>
        <div class="container">
            <h1>404 - Page Not Found</h1>
            <p>Sorry, requested page not found.</p>
            <div class="nav">
                <ul>
                    <li>
                        <a href="/"><i class="fa-solid fa-house-chimney"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'encrypt' %}"><i class="fa-solid fa-lock"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'decrypt' %}"><i class="fa-solid fa-lock-open"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
	{% endblock %}
