{% extends "base.html" %}
	{% block content %}
	<main>
        <div class="container">
            <h1>500 - Server Error</h1>
            <p>Sorry, No file has been uploaded yet, upload a PDF first.</p>
            <div class="nav">
                <ul>
                    <li>
                        <a href="/"><i class="fa-solid fa-house-chimney"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'encrypt' %}"><i class="fa-solid fa-lock"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'decrypt' %}"><i class="fa-solid fa-unlock"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
	{% endblock %}
