{% extends "base.html" %}
	{% block content %}
	<main>
        <div class="container">
            <h1>Secure PDF</h1>
            <p>Welcome to the Secure PDF application. Please select an option below:</p>
            <ul>

                <li>
                    <a href="{% url 'encrypt' %}">Encrypt a PDF <i class="fa-solid fa-lock"></i></a>
                </li>

                <li>
                    <a href="{% url 'decrypt' %}">Decrypt a PDF <i class="fa-solid fa-unlock"></i></a>
                </li>

            </ul>
        </div>
    </main>
	{% endblock %}
